<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8">
            <p *ngIf="message" class="">
                <small>
                    <ngb-alert [type]="message.type">{{ message.message }}</ngb-alert>
                </small>

            </p>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row justify-content-between pt-2 pt-md-2">
        <div class="col-auto">
            <h4>Your Subscriptions</h4>
            <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam enim facere aperiam exercitationem,
                esse sapiente eveniet minus vitae quasi laudantium.</p> -->
        </div>
        <div class="col-auto my-auto">
            <button (click)="open(content)" class="btn  btn-purple"> <i class=" fa fa-solid fa-plus"></i> New </button>
        </div>
    </div>

</div>


<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add New Subscription</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="subsForm" (ngSubmit)="addSubscription()">

            <div class="row">
                <div class="col-12">
                    <label for="productName">Select Product</label>
                    <select class="form-select form-select mb-3" aria-label=".form-select-lg productName"
                        formControlName="productName">
                        <option selected>Select One product</option>
                        <option *ngFor="let sub of allSubscription">{{sub.productName}}</option>
                    </select>
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <label for="productLevel">What Mode are you paying for ?</label>
                    <select class=" form-select mb-3" aria-label=".form-select-lg productLevel"
                        formControlName="productLevel" required>
                        <option selected>Paying Mode</option>
                        <option *ngFor="let sub of allSubscription">{{sub.productLevel}}</option>
                    </select>
                </div>
            </div>



        </form>
    </div>
    <div class="modal-footer">
        <button type="button" ngbAutofocus class="btn btn-primary" (click)="addSubscription()">Add Subscription</button>
    </div>
</ng-template>


<!-- List Of Subscriptions -->
<div class="container-fluid py-2 py-md-4">
    <div class="row">
        <div class="col-12">
            <div class="row justify-content-evenly">

                <div class="col-11  col-md-4 my-3 my-md-4" *ngFor="let sub of userDetails?.susbcriptions">

                    <div class="row">
                        <div class="col-4 my-auto d-flex justify-content-end">
                            <img [attr.src]="sub.productLogo" alt="logo"
                                class="img-thumbnail w-100 h-100 rounded-circle">
                        </div>
                        <div class="col-12 col-md-8">

                            <div class="card bg-light p-2">
                                <div class="row">
                                    <div class="col-12 px-3 px-md-4 py-md-3 py-4">
                                        <p>
                                            <span class="badge rounded-pill text-bg-warning float-end   mb-2 "> {{sub.productLevel}}</span>

                                           </p>
                                        <h4 class="fw-bold">{{sub.productName}} Subscription </h4>
                                        <p class="text-secondary">{{sub.productSubValue | currency : "Ksh "}} </p>
                                        <p class="text-secondary">Expires on {{'May 4 , 2023' | date}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                </div>


            </div>
        </div>

        <div class="col-12" *ngIf="!userDetails?.susbcriptions">
            <p class="text-danger fw-bold">You have no subscriptions</p>
        </div>
    </div>
</div>