
<app-navbar></app-navbar>
<section id="welcome" class="container-fluid mt-5">

  <div class="row">
    <div class="col-12 mt-5">
      <div class="card">
      <div class="row p-3 p-md-5 mt-3 mt-md-auto">
        <div class="col-12 col-md-6 my-0 my-md-auto">

          <h4 class="blockquote">Welcome {{userDetails?.displayName || "to SubMe"}}</h4>
          <p>Let’s see how your spending is coming along !</p>
          <button (click)="open(content)" class="btn  btn-purple"> <i
              class=" fa fa-regular fa-credit-card me-2"></i>Re-fill Wallet </button>

        </div>
        <div class="col-12 col-md-5 mt-3 mt-md-auto  mx-auto">
          <app-my-wallet></app-my-wallet>
        </div>
      </div>
      </div>

    </div>
  </div>


  <!-- Modal -->
  <!-- Modal -->
  <ng-template #content let-modal>
    <div class="modal-header bg-purple">
      <h4 class="modal-title  text-white" id="modal-basic-title">Refill Wallet</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body" *ngIf="!isLoading">
      <form [formGroup]="walletForm" (ngSubmit)="addWallet()">

        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="myMpesaNumber">Mpesa Number</label>
            <input type="tel" formControlName="myMpesaNumber" class="form-control" required pattern="^254\d{9}$"
              [ngClass]="{'is-invalid': myMpesaNumber?.touched && myMpesaNumber?.invalid}" />
            <!-- errors-->
            <p *ngIf="myMpesaNumber?.touched && myMpesaNumber?.invalid" class="invalid-feedback">
              <sup>*</sup>Please enter a Kenyan Phone Number with country code
            </p>
            <p *ngIf="myMpesaNumber?.errors?.['maxLength']" class="error">
              <sup>*</sup> Digits should not be more 10
            </p>
          </div>
          <div class="col-md-12 mb-3">
            <label for="myWalletBalance">New Amount</label>
            <input type="number" formControlName="myWalletBalance" class="form-control" required
              [ngClass]="{'is-invalid': myWalletBalance?.touched && myWalletBalance?.invalid}" />
            <!-- errors-->
            <p *ngIf="myWalletBalance?.touched && myWalletBalance?.invalid || myWalletBalance?.errors?.['min']"
              class="invalid-feedback">
              <sup>*</sup>Please provide a valid amount above 10
            </p>

          </div>
        </div>





      </form>



    </div>

    <div class="modal-body" *ngIf="isLoading">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
          <p>Waiting for Mpesa</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" ngbAutofocus class="btn btn-purple" (click)="addWallet()" *ngIf="!isLoading"
        [disabled]="walletForm.invalid">Update Wallet</button>
      <p *ngIf="isLoading">Wait A minute !</p>
    </div>
  </ng-template>


</section>


<!-- Subcriptions -->

<section id="mySubs" class=" mt-5 p-1 p-md-3">
  <div class="row">
    <div class="col-12 mt-5">
      <app-all-subs></app-all-subs>
        </div>
        </div>
 
</section>