<div class="card p-3 p-md-5 bg-primary text-white" >
   <!-- Icon -->
   <div class="row ">
      <div class="col-12 d-flex justify-content-between">
         <p><i class="fa fa-light fa-money-bill  fa-2x"></i></p>
         <p><a class="link-offset-hoover-1 link-light pe-auto"(click)="getMyWallet()" >Refresh</a></p>

      </div>
   </div>

   <!-- Wallet Details -->
   <div class="row">
     <div class="col-12 col-md-6">
       <p  class="fw-bold fs-3 text order-1">{{userDetails?.myWalletBalance | currency : "Ksh "}}</p>
       <p>Last Updated 3 mins</p>
     </div>
     <div class="col-md-6 col-12 text-end ">
       <p>{{userDetails?.displayName|| '--' }}</p></div>
   </div>

 </div>