
<div class="container-fluid mx-auto">
    <div class="row vh-100 ">
        <div class="col-md-6 bg-purple-faded my-auto min-vh-100  d-md-flex align-self-center d-none">
            <div class=" row  my-auto  d-flex  flex-column justify-content-center  align-items-center text-center ">
                <div class="col-8 mx-auto d-flex justify-content-center">
                    <img src="../../../../../assets/branding/subme_logo_icon.png"  alt="Icon">
                </div>
                <div class="col-8 mt-3 text-center">
                    <h4  class="fs-1 fw-bold">Sub Me</h4>
                    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias obcaecati at praesentium maxime explicabo, odit sed beatae consequatur modi ut.</p>
                </div>
               
               
            </div>
           
        </div>
       <div class="col-md-6 my-auto">
           <div class="row">
               <div class="col-12 col-md-7 mb-4">
                   <p *ngIf="message" class="">
                       <small>
                           <ngb-alert [type]="message.type">{{ message.message }}</ngb-alert>
                       </small>
                     
                   </p>
                   
               </div>
               <div class="col-8 d-flex justify-content-center d-inline-block d-md-none">
                <img src="../../../../../assets/branding/subme_logo.png"  alt="Icon">
            
        </div>
               <div class="col-12 p-3 p-md-5">
                   <div class="row p-3 p-md-5">
                       <div class="col-12">
                           <h3>Sign Up</h3>
                           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti ex mollitia excepturi labore
                               optio fugit eius, dignissimos libero delectus ipsum.</p>
       
                       </div> 

                       <div class="col-12">
                        <form [formGroup]="registerForm" (ngSubmit)="registerUser()" novalidate>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label>Full name</label>
                                            <input type="text" formControlName="displayName" class="form-control" required
                                                [ngClass]="{'is-invalid': displayName?.touched && displayName?.invalid }"  placeholder="John Doe" />
                                            <!-- errors-->
                                            <p *ngIf="displayName?.touched && displayName?.invalid" class="invalid-feedback">
                                                <sup>*</sup>Please enter atleast first name
                                            </p>
                                            <p *ngIf="displayName?.errors?.['minlength']" class="invalid-feedback">
                                                <sup>*</sup>Name shouldn't be less than 5 words
                                            </p>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label for="email">Email</label>
                                            <input type="email" formControlName="email" class="form-control" required
                                                [ngClass]="{'is-invalid': email?.touched && email?.invalid }"  placeholder="test@gmail.com" />
                                            <!-- errors-->
    
                                            <p *ngIf="email?.touched && email?.invalid" class="invalid-feedback">
                                                <sup>*</sup>Please enter a valid email
                                            </p>
                                            <p *ngIf="email?.errors?.['minlength']" class="invalid-feedback">
                                                <sup>*</sup>
                                            </p>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label for="password">Password</label>
                                            <input type="password" formControlName="password" class="form-control" required
                                                [ngClass]="{'is-invalid': password?.touched && password?.invalid}" placeholder="Password" />
                                            <!-- errors-->
                                            <p *ngIf="password?.touched && password?.invalid" class="invalid-feedback">
                                                <sup>*</sup>Please provide a valid password
                                            </p>
                                            <p *ngIf="password?.errors?.['minlength']" class="error">
                                                <sup>*</sup>
                                            </p>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12 mb-3 d-grid gap-2">
                                            <button class="btn btn-purple " (click)="registerUser()">Sign In</button> 
                                            <p class="fs-5 mt-2">Have an Account?  <a   class="fw-bold  text-purple fs-5 text-decoration-none icon-link  icon-link-hover" routerLink="/auth/login" >Login </a> </p>
                     
                                          
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
                        </form>
                       </div>
                   </div>
                  
               </div>
              
           </div>
       </div>
    </div>
</div>



  
